In [11]:
import pandas as pd
import numpy as np

In [12]:
# persiapan dataframe
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  3  3  3  3  7
1  3  1  2  6  1
2  8  8  6  9  8
3  7  3  1  9  8
4  4  7  6  2  1

In [13]:
df.add_suffix('field')

   Afield  Bfield  Cfield  Dfield  Efield
0       3       3       3       3       7
1       3       1       2       6       1
2       8       8       6       9       8
3       7       3       1       9       8
4       4       7       6       2       1

In [14]:
#seleksi column dengan logika or
df[(df['A'] == 9)]

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [15]:
#seleksi column dengan fungsi isin

df[df['A'].isin([9])]

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [16]:
#memanfaatkan fungsi not dalam isin dengan operator negasi

df[~df['A'].isin([9])]

   A  B  C  D  E
0  3  3  3  3  7
1  3  1  2  6  1
2  8  8  6  9  8
3  7  3  1  9  8
4  4  7  6  2  1

In [17]:
#Konversi tipe data String ke Numerik

data = {'col 1':['1','2','3','teks'],
        'col 2':['1','2','3','4']}

df_lain = pd.DataFrame(data)
df_lain

  col 1 col 2
0     1     1
1     2     2
2     3     3
3  teks     4

In [18]:
df_lain.dtypes # dtypes = menampilkan tipe data

col 1    object
col 2    object
dtype: object

In [19]:
# Konversi tipe data dengan fungsi astype

df_x = df_lain.astype({'col 2': 'int'})
df_x # .astype mengubah tipe data

  col 1  col 2
0     1      1
1     2      2
2     3      3
3  teks      4

In [20]:
df_x.dtypes

col 1    object
col 2     int64
dtype: object

In [21]:
# Konversi tipe data ke tipe data numerik

df_lain.apply(pd.to_numeric, errors='coerce')

#Coerce, kalau ada data yang tidak bisa dikonversi ke numerik, maka data tersebut akan menjadi Non

   col 1  col 2
0    1.0      1
1    2.0      2
2    3.0      3
3    NaN      4

In [22]:
df.index = pd.util.testing.makeDateIndex(n_rows, freq='H') #makedateIndex = data tanggal random
df = df.reset_index()

df['teks'] = list('ABCDE')

df

                index  A  B  C  D  E teks
0 2000-01-01 00:00:00  3  3  3  3  7    A
1 2000-01-01 01:00:00  3  1  2  6  1    B
2 2000-01-01 02:00:00  8  8  6  9  8    C
3 2000-01-01 03:00:00  7  3  1  9  8    D
4 2000-01-01 04:00:00  4  7  6  2  1    E

In [27]:
# memilih kolom bertipe data spesifik
df.select_dtypes(include='number')

   A  B  C  D  E
0  3  3  3  3  7
1  3  1  2  6  1
2  8  8  6  9  8
3  7  3  1  9  8
4  4  7  6  2  1

In [28]:
df.select_dtypes(include='float')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
# Membalik ukuran data!

In [30]:
# Pesiapan dataframe

n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10, size=(n_rows, n_cols)), columns=cols)

df

   A  B  C  D  E
0  4  3  6  3  5
1  4  6  7  8  6
2  1  6  9  8  2
3  5  9  2  7  5
4  2  1  6  8  5

In [31]:
# Membalik urutan columns

df.loc[:, ::-1] # kolom kebawah

   E  D  C  B  A
0  5  3  6  3  4
1  6  8  7  6  4
2  2  8  9  6  1
3  5  7  2  9  5
4  5  8  6  1  2

In [32]:
# Membalik urutan baris

df.loc[::-1, ]

   A  B  C  D  E
4  2  1  6  8  5
3  5  9  2  7  5
2  1  6  9  8  2
1  4  6  7  8  6
0  4  3  6  3  5